[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
attrs = "*"
asyncssh = {extras = ["bcrypt"]}
aiosmtplib = "*"

[dev-packages]
black = "*"
tox = "*"
pytest-runner = "*"
pytest = "*"
coverage = "*"
pytest-coverage = "*"
pytest-asyncio = "*"
sphinx = "*"
sphinxcontrib-asyncio = "*"
sphinxcontrib-napoleon = "*"
twine = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
